@import "../../vars";

.jumbotron {
    margin-bottom: 1em;
    background-color: $navigation;
    color: white;
    text-align: center;
    padding: 2em 0 4em;
    h4 {
        color: rgba(white, .8);
    }
    > nav {
        margin-top: 3em;
    }
}
ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: flex;
        margin-bottom: 3em;
        > span,
        > div {
            flex: 1;
        }

        > span {
            color: rgba($navigation, .25);
            font-size: 5em;
            max-width: 1.5em;
        }
    }
}
