@import "vars";

html, body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    //height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $base-font-color;
}

body {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 300;
        &.lead {
            color: rgba($navigation, .75);
        }
    }

    h1.lead {
        font-size: 2.5em;
    }
    h2.lead {
        font-size: 2.25em;
    }
    h3.lead {
        font-size: 2em;
    }
    h4.lead {
        font-size: 1.75em;
    }

    app-root {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;

        // Loading Icon
        > p {
            text-align: center;
            width: 100%;
            padding-top: 3em;
            .fa-spinner {
                color: rgba(black, .5);
            }
        }

        header {
            display: flex;
            background-color: rgba($navigation, 1);
            flex: 1 1 80px;
            // Primary Navigation
            nav {
                flex: 1;
                display: flex;
                align-items: stretch;
                span {
                    font-size: 1.3em;
                    font-weight: 300;
                    color: white;
                    flex: 3;
                    display: flex;
                    align-items: center;
                    padding: 0 1em;
                    cursor: pointer;
                }
                // Primary Link
                a {
                    align-items: center;
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    color: rgba(white, .7);
                    text-decoration: none;
                    transition: background-color 250ms, color 250ms, border-color 250ms;
                    border-top: solid 2px $navigation;

                    &:hover {
                        color: white;
                    }

                    &.active {
                        color: white;
                        border-top-color: white;
                    }
                }
            }
        }
        // Component Pages
        app-deployment,
        app-customization,
        app-extensibility,
        app-getting-started,
        app-faq {
            flex: 1;
            display: flex;
            flex-flow: inherit;
            > section {
                padding-top: 2em;
                width: 900px;
                margin: auto;
            }
        }
        // Footer
        footer {
            display: flex;
            flex: 1 1 80px;
            color: rgba($navigation, .5);
            font-size: .9em;
            width: 100%;
            justify-content: center;
            align-items: center;
            align-self: baseline;
        }
    }
}


.divider {
    width: 100%;
    margin: 3em 0 3em;
    border-bottom: dashed thin rgba($navigation, .25);
}

a {
    color: rgba($navigation, .75);
    transition: color 250ms;
    &:hover {
        color: $navigation;
    }
}

code {
    background-color: rgba($navigation, 0.1);
    color: $navigation;
    padding: .5em 1em;
    border: dashed thin $navigation;
    border-radius: .5em;
    display: block;
}

.btn {
    text-decoration: none;
    color: $navigation;
    border: none;
    background: rgba(white, .8);
    padding: .65em 1.75em;
    border-radius: .5em;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    margin-right: .5em;
    transition: background-color 250ms, color 250ms;
    cursor: pointer;

    &:hover {
        background-color: white;
    }

    &.primary {
        margin-right: 0;
        background-color: $positive;
        color: white;

        &:hover {
            background-color: darken($positive, 15%);
        }
    }

    &.large {
        padding: 1.2em 2em;
        font-size: 1em;
    }

    > i {
        font-size: 1.25em;
        margin-right: .5em;
    }
}
